/* line 4, ../compass/sass/style.scss */
#main_body {
  background-image: url("../../media/samfordbig.JPG");
  background-size: 100vw;
  width: 100vw;
  height: 90vh;
  position: absolute;
  top: 85px;
  overflow: scroll;
}

/* line 14, ../compass/sass/style.scss */
.nav, .navbar-inverse {
  border-radius: 0px;
  position: relative;
  z-index: 1000;
}

/* line 22, ../compass/sass/style.scss */
.navbar-form .form-control.hidden {
  display: none;
}

/* line 25, ../compass/sass/style.scss */
.thumbs {
  margin-top: 5%;
}

/* line 29, ../compass/sass/style.scss */
.container .divider {
  margin: 5% 8%;
  padding: 20px;
  border: 3px solid #cf5300;
  border-radius: 20px;
  color: #000088;
}

/* line 38, ../compass/sass/style.scss */
footer {
  max-height: 600px;
  position: absolute;
}

/*----------------Header------------------*/
/* line 43, ../compass/sass/style.scss */
#header {
  height: 35px;
  width: 100%;
  padding: 10px;
  background-color: #000088;
}

/* line 49, ../compass/sass/style.scss */
#header #links p {
  margin: 0px 0px 0px 10.5%;
}

/* line 52, ../compass/sass/style.scss */
#header #links a {
  margin: 0 20px 0 0;
  display: inline;
  float: left;
  color: white;
}

/* line 58, ../compass/sass/style.scss */
#header #links a:hover {
  color: #cf5300;
  text-decoration: none;
}

/* line 62, ../compass/sass/style.scss */
#header #social-media {
  margin-right: 11%;
  float: right;
  overflow: hidden;
}

/* line 67, ../compass/sass/style.scss */
#header #social-media img {
  height: 15px;
  margin: 0px 5px;
  float: right;
  border-radius: 5px;
}

/* line 73, ../compass/sass/style.scss */
#header #social-media img:hover {
  border-image: 10px solid black;
}

/*------------Nav-Bar-------------------------*/
/* line 79, ../compass/sass/style.scss */
#nav-bar {
  padding: 0% 10%;
}

/* line 82, ../compass/sass/style.scss */
#nav-bar.nav-bar-scrolled {
  position: fixed;
  top: 0px;
  width: 100%;
}

/* line 90, ../compass/sass/style.scss */
.collapse .nav li {
  color: white;
}

/* line 95, ../compass/sass/style.scss */
.navbar-form .form-control {
  height: 25px;
}

/* line 98, ../compass/sass/style.scss */
.navbar-form #search {
  width: 15px;
  margin-top: 10px;
  color: grey;
}

/* line 103, ../compass/sass/style.scss */
.navbar-form #search:hover {
  cursor: pointer;
  color: white;
}

/*------------------Body---------------------*/
/* line 110, ../compass/sass/style.scss */
#body-wrapper h1 {
  text-align: center;
  background-color: #000088;
  color: #cf5300;
  opacity: 0.9;
  width: 300px;
  margin: 5px auto 20px;
  padding: 15px 0px;
  border-radius: 20px;
}

/* line 122, ../compass/sass/style.scss */
#body-wrapper .container {
  background-color: #000088;
  opacity: 0.9;
  border-radius: 20px;
  margin-top: 50px;
}
/* line 127, ../compass/sass/style.scss */
#body-wrapper .container .header {
  text-align: center;
  margin-top: 100px;
  padding-bottom: 30px;
  border-bottom: 3px solid #cf5300;
  font-size: 42px;
  color: #cf5300;
}
/* line 135, ../compass/sass/style.scss */
#body-wrapper .container .category {
  color: #cf5300;
}
/* line 138, ../compass/sass/style.scss */
#body-wrapper .container .title {
  color: #cf5300;
}
/* line 142, ../compass/sass/style.scss */
#body-wrapper .container .article-content {
  color: #cf5300;
}

/* line 147, ../compass/sass/style.scss */
.body-scrolled {
  margin-top: 73px;
}

/*---------------Flex-Slider----------------*/
/* line 153, ../compass/sass/style.scss */
.flexslider .flex-direction-nav a {
  height: 50px;
}

/* line 157, ../compass/sass/style.scss */
#body .flexslider {
  width: 900px;
  height: 900px;
  margin: auto;
}

/* line 162, ../compass/sass/style.scss */
.flexslider .slides li img {
  width: 100%;
}

/* line 166, ../compass/sass/style.scss */
.flexslider .slides li p {
  text-align: center;
  font-size: 24px;
  margin: 10px 0px 0px 0px;
  background-color: #000088;
  color: #cf5300;
  border-radius: 10px;
}

/* line 174, ../compass/sass/style.scss */
.flex-control-nav li a {
  position: relative;
  top: -90px;
}

/* line 180, ../compass/sass/style.scss */
.thumbnails p.black-text {
  text-decoration: underline;
  color: #000;
}
/* line 185, ../compass/sass/style.scss */
.thumbnails p {
  position: relative;
  z-index: 10;
  font-size: 16px;
  color: white;
  font-weight: bold;
}

/* line 197, ../compass/sass/style.scss */
#footer {
  background-color: #000088;
  opacity: 0.9;
  color: #cf5300;
}
/* line 201, ../compass/sass/style.scss */
#footer .footer-left {
  width: 30%;
}
/* line 203, ../compass/sass/style.scss */
#footer .footer-left .foot-link {
  color: white;
}
/* line 206, ../compass/sass/style.scss */
#footer .footer-left .foot-link:hover {
  color: #cf5300;
  text-decoration: none;
}
/* line 211, ../compass/sass/style.scss */
#footer .footer-center {
  width: 45%;
}
/* line 216, ../compass/sass/style.scss */
#footer .footer-right .footer-icons a {
  background-color: #292c2f;
}
/* line 219, ../compass/sass/style.scss */
#footer .footer-right .footer-icons a i img {
  width: 100%;
  border-radius: 7px;
}

/*--------------Max-Width: 1450px-------------------------------*/
@media screen and (max-width: 1450px) {
  /* line 234, ../compass/sass/style.scss */
  .flexslider .flex-direction-nav a {
    height: 50px;
  }

  /* line 238, ../compass/sass/style.scss */
  #body .flexslider {
    width: 600px;
    height: 600px;
    margin: auto;
  }

  /* line 243, ../compass/sass/style.scss */
  .flexslider .slides li img {
    width: 100%;
  }

  /* line 247, ../compass/sass/style.scss */
  .flexslider .slides li p {
    text-align: center;
    font-size: 24px;
  }

  /* line 251, ../compass/sass/style.scss */
  .flex-control-nav li a {
    position: relative;
    top: -90px;
  }
}
/*--------------Max-Width: 1166px-------------------------------*/
@media screen and (max-width: 1200px) {
  /* line 259, ../compass/sass/style.scss */
  .flexslider .flex-direction-nav a {
    height: 50px;
  }

  /* line 263, ../compass/sass/style.scss */
  #body .flexslider {
    width: 500px;
    height: 500px;
    margin: auto;
  }

  /* line 268, ../compass/sass/style.scss */
  .flexslider .slides li img {
    width: 100%;
  }

  /* line 272, ../compass/sass/style.scss */
  .flexslider .slides li p {
    text-align: center;
    font-size: 24px;
  }

  /* line 276, ../compass/sass/style.scss */
  .flex-control-nav li a {
    position: relative;
    top: -120px;
  }

  /* line 281, ../compass/sass/style.scss */
  .thumbnails p {
    position: relative;
    z-index: 10;
    font-size: 16px;
    color: white;
    font-weight: bold;
  }
}
/*--------------Max-Width: 760px-------------------------------*/
@media screen and (max-width: 760px) {
  /* line 293, ../compass/sass/style.scss */
  .flexslider .flex-direction-nav a {
    height: 50px;
  }

  /* line 297, ../compass/sass/style.scss */
  #body .flexslider {
    width: 400px;
    height: 400px;
    margin: auto;
  }

  /* line 302, ../compass/sass/style.scss */
  .flexslider .slides li img {
    width: 100%;
  }

  /* line 306, ../compass/sass/style.scss */
  .flexslider .slides li p {
    text-align: center;
    font-size: 24px;
  }

  /* line 310, ../compass/sass/style.scss */
  .flex-control-nav li a {
    position: relative;
    top: -120px;
  }

  /* line 314, ../compass/sass/style.scss */
  .navbar-form #search {
    width: 15px;
    margin-top: 10px;
    color: white;
    cursor: pointer;
  }
}
@media screen and (max-width: 880px) {
  /* line 324, ../compass/sass/style.scss */
  .footer-left {
    margin: auto;
    width: 100%;
  }
}
/*--------------Max-Width: 560px-------------------------------*/
@media screen and (max-width: 560px) {
  /* line 332, ../compass/sass/style.scss */
  .flexslider .flex-direction-nav a {
    height: 50px;
    top: 70%;
  }

  /* line 337, ../compass/sass/style.scss */
  #body .flexslider {
    width: 300px;
    height: 300px;
    margin: auto;
  }

  /* line 342, ../compass/sass/style.scss */
  .flexslider .slides li img {
    width: 100%;
  }

  /* line 346, ../compass/sass/style.scss */
  .flexslider .slides li p {
    text-align: center;
    font-size: 24px;
  }

  /* line 350, ../compass/sass/style.scss */
  .flex-control-nav li a {
    position: relative;
    top: -120px;
  }
}
