/* line 4, ../compass/sass/style.scss */
body {
  background-image: url("../../media/samfordbig.JPG");
  background-size: 100vw;
}

/* line 9, ../compass/sass/style.scss */
.nav, .navbar-inverse {
  border-radius: 0px;
  position: relative;
  z-index: 1000;
  transition: all 1s;
}

/* line 16, ../compass/sass/style.scss */
.navbar-form .form-control {
  transition: all 1s;
}

/* line 19, ../compass/sass/style.scss */
.navbar-form .form-control.hidden {
  display: none;
}

/* line 22, ../compass/sass/style.scss */
.thumbs {
  margin-top: 5%;
}

/* line 26, ../compass/sass/style.scss */
.container .divider {
  margin: 5% 8%;
  padding: 20px;
  border: 3px solid #cf5300;
  border-radius: 20px;
  color: #000088;
}

/* line 35, ../compass/sass/style.scss */
footer {
  max-height: 600px;
  position: absolute;
}

/*----------------Header------------------*/
/* line 40, ../compass/sass/style.scss */
#header {
  height: 35px;
  width: 100%;
  padding: 10px;
  background-color: #000088;
}

/* line 46, ../compass/sass/style.scss */
#header #links p {
  margin: 0px 0px 0px 10.5%;
}

/* line 49, ../compass/sass/style.scss */
#header #links a {
  margin: 0 20px 0 0;
  display: inline;
  float: left;
  color: white;
  transition: all 0.2s;
}

/* line 56, ../compass/sass/style.scss */
#header #links a:hover {
  color: #cf5300;
  text-decoration: none;
}

/* line 60, ../compass/sass/style.scss */
#header #social-media {
  margin-right: 11%;
  float: right;
  overflow: hidden;
}

/* line 65, ../compass/sass/style.scss */
#header #social-media img {
  height: 15px;
  margin: 0px 5px;
  float: right;
  border-radius: 5px;
}

/* line 71, ../compass/sass/style.scss */
#header #social-media img:hover {
  border-image: 10px solid black;
}

/*------------Nav-Bar-------------------------*/
/* line 77, ../compass/sass/style.scss */
#nav-bar {
  padding: 0% 10%;
}

/* line 80, ../compass/sass/style.scss */
#nav-bar.nav-bar-scrolled {
  position: fixed;
  top: 0px;
  width: 100%;
}

/* line 88, ../compass/sass/style.scss */
.collapse .nav li {
  color: white;
}

/* line 93, ../compass/sass/style.scss */
.navbar-form img {
  width: 15px;
  margin-top: 10px;
}

/* line 97, ../compass/sass/style.scss */
.navbar-form img:hover {
  cursor: pointer;
}

/*------------------Body---------------------*/
/* line 103, ../compass/sass/style.scss */
#body-wrapper h1 {
  text-align: center;
  background-color: #000088;
  color: #cf5300;
  opacity: 0.9;
  width: 600px;
  margin: 5px auto 20px;
  padding: 15px 0px;
  border-radius: 20px;
}

/* line 115, ../compass/sass/style.scss */
#body-wrapper #article-container {
  height: 1000px;
  overflow: scroll;
}
/* line 119, ../compass/sass/style.scss */
#body-wrapper .container {
  background-color: #000088;
  opacity: 0.9;
  border-radius: 20px;
  margin-top: 50px;
}
/* line 124, ../compass/sass/style.scss */
#body-wrapper .container .header {
  text-align: center;
  margin-top: 100px;
  padding-bottom: 30px;
  border-bottom: 3px solid #cf5300;
  font-size: 42px;
  color: #cf5300;
}
/* line 132, ../compass/sass/style.scss */
#body-wrapper .container .category {
  color: #cf5300;
}
/* line 135, ../compass/sass/style.scss */
#body-wrapper .container .title {
  color: #cf5300;
}
/* line 139, ../compass/sass/style.scss */
#body-wrapper .container .article-content {
  color: #cf5300;
}

/* line 144, ../compass/sass/style.scss */
.body-scrolled {
  margin-top: 73px;
}

/*---------------Flex-Slider----------------*/
/* line 150, ../compass/sass/style.scss */
.flexslider .flex-direction-nav a {
  height: 50px;
}

/* line 154, ../compass/sass/style.scss */
#body .flexslider {
  width: 900px;
  height: 900px;
  margin: auto;
  opacity: 0.9;
}

/* line 160, ../compass/sass/style.scss */
.flexslider .slides li img {
  width: 100%;
}

/* line 164, ../compass/sass/style.scss */
.flexslider .slides li p {
  text-align: center;
  font-size: 24px;
  margin: 10px 0px 0px 0px;
  background-color: #000088;
  color: #cf5300;
  border-radius: 10px;
}

/* line 172, ../compass/sass/style.scss */
.flex-control-nav li a {
  position: relative;
  top: -90px;
}

/* line 178, ../compass/sass/style.scss */
.thumbnails p.black-text {
  text-decoration: underline;
  color: #000;
}
/* line 183, ../compass/sass/style.scss */
.thumbnails p {
  position: relative;
  z-index: 10;
  font-size: 16px;
  color: white;
  font-weight: bold;
}

/* line 195, ../compass/sass/style.scss */
#footer {
  background-color: #000088;
  opacity: 0.9;
  color: #cf5300;
}
/* line 199, ../compass/sass/style.scss */
#footer .footer-left {
  width: 30%;
}
/* line 202, ../compass/sass/style.scss */
#footer .footer-center {
  width: 45%;
}
/* line 207, ../compass/sass/style.scss */
#footer .footer-right .footer-icons a {
  background-color: #292c2f;
}
/* line 210, ../compass/sass/style.scss */
#footer .footer-right .footer-icons a i img {
  width: 100%;
  border-radius: 7px;
}

/*--------------Max-Width: 1450px-------------------------------*/
@media screen and (max-width: 1450px) {
  /* line 225, ../compass/sass/style.scss */
  .flexslider .flex-direction-nav a {
    height: 50px;
  }

  /* line 229, ../compass/sass/style.scss */
  #body .flexslider {
    width: 600px;
    height: 600px;
    margin: auto;
  }

  /* line 234, ../compass/sass/style.scss */
  .flexslider .slides li img {
    width: 100%;
  }

  /* line 238, ../compass/sass/style.scss */
  .flexslider .slides li p {
    text-align: center;
    font-size: 24px;
  }

  /* line 242, ../compass/sass/style.scss */
  .flex-control-nav li a {
    position: relative;
    top: -90px;
  }
}
/*--------------Max-Width: 1166px-------------------------------*/
@media screen and (max-width: 1200px) {
  /* line 250, ../compass/sass/style.scss */
  .flexslider .flex-direction-nav a {
    height: 50px;
  }

  /* line 254, ../compass/sass/style.scss */
  #body .flexslider {
    width: 500px;
    height: 500px;
    margin: auto;
  }

  /* line 259, ../compass/sass/style.scss */
  .flexslider .slides li img {
    width: 100%;
  }

  /* line 263, ../compass/sass/style.scss */
  .flexslider .slides li p {
    text-align: center;
    font-size: 24px;
  }

  /* line 267, ../compass/sass/style.scss */
  .flex-control-nav li a {
    position: relative;
    top: -120px;
  }

  /* line 272, ../compass/sass/style.scss */
  .thumbnails p {
    position: relative;
    z-index: 10;
    font-size: 16px;
    color: white;
    font-weight: bold;
  }
}
/*--------------Max-Width: 760px-------------------------------*/
@media screen and (max-width: 760px) {
  /* line 284, ../compass/sass/style.scss */
  .flexslider .flex-direction-nav a {
    height: 50px;
  }

  /* line 288, ../compass/sass/style.scss */
  #body .flexslider {
    width: 400px;
    height: 400px;
    margin: auto;
  }

  /* line 293, ../compass/sass/style.scss */
  .flexslider .slides li img {
    width: 100%;
  }

  /* line 297, ../compass/sass/style.scss */
  .flexslider .slides li p {
    text-align: center;
    font-size: 24px;
  }

  /* line 301, ../compass/sass/style.scss */
  .flex-control-nav li a {
    position: relative;
    top: -120px;
  }

  /* line 305, ../compass/sass/style.scss */
  .navbar-form #search {
    width: 15px;
    margin-top: 10px;
  }
}
/*--------------Max-Width: 560px-------------------------------*/
@media screen and (max-width: 560px) {
  /* line 313, ../compass/sass/style.scss */
  .flexslider .flex-direction-nav a {
    height: 50px;
    top: 70%;
  }

  /* line 318, ../compass/sass/style.scss */
  #body .flexslider {
    width: 300px;
    height: 300px;
    margin: auto;
  }

  /* line 323, ../compass/sass/style.scss */
  .flexslider .slides li img {
    width: 100%;
  }

  /* line 327, ../compass/sass/style.scss */
  .flexslider .slides li p {
    text-align: center;
    font-size: 24px;
  }

  /* line 331, ../compass/sass/style.scss */
  .flex-control-nav li a {
    position: relative;
    top: -120px;
  }
}
