/* line 4, ../compass/sass/style.scss */
body {
  background-image: url("../../media/samfordbig.JPG");
  background-size: 100vw;
}

/* line 9, ../compass/sass/style.scss */
.nav, .navbar-inverse {
  border-radius: 0px;
  position: relative;
  z-index: 1000;
}

/* line 17, ../compass/sass/style.scss */
.navbar-form .form-control.hidden {
  display: none;
}

/* line 20, ../compass/sass/style.scss */
.thumbs {
  margin-top: 5%;
}

/* line 24, ../compass/sass/style.scss */
.container .divider {
  margin: 5% 8%;
  padding: 20px;
  border: 3px solid #cf5300;
  border-radius: 20px;
  color: #000088;
}

/* line 33, ../compass/sass/style.scss */
footer {
  max-height: 600px;
  position: absolute;
}

/*----------------Header------------------*/
/* line 38, ../compass/sass/style.scss */
#header {
  height: 35px;
  width: 100%;
  padding: 10px;
  background-color: #000088;
}

/* line 44, ../compass/sass/style.scss */
#header #links p {
  margin: 0px 0px 0px 10.5%;
}

/* line 47, ../compass/sass/style.scss */
#header #links a {
  margin: 0 20px 0 0;
  display: inline;
  float: left;
  color: white;
}

/* line 53, ../compass/sass/style.scss */
#header #links a:hover {
  color: #cf5300;
  text-decoration: none;
}

/* line 57, ../compass/sass/style.scss */
#header #social-media {
  margin-right: 11%;
  float: right;
  overflow: hidden;
}

/* line 62, ../compass/sass/style.scss */
#header #social-media img {
  height: 15px;
  margin: 0px 5px;
  float: right;
  border-radius: 5px;
}

/* line 68, ../compass/sass/style.scss */
#header #social-media img:hover {
  border-image: 10px solid black;
}

/*------------Nav-Bar-------------------------*/
/* line 74, ../compass/sass/style.scss */
#nav-bar {
  padding: 0% 10%;
}

/* line 77, ../compass/sass/style.scss */
#nav-bar.nav-bar-scrolled {
  position: fixed;
  top: 0px;
  width: 100%;
}

/* line 85, ../compass/sass/style.scss */
.collapse .nav li {
  color: white;
}

/* line 90, ../compass/sass/style.scss */
.navbar-form .form-control {
  height: 25px;
}

/* line 93, ../compass/sass/style.scss */
.navbar-form #search {
  width: 15px;
  margin-top: 10px;
  color: grey;
}

/* line 98, ../compass/sass/style.scss */
.navbar-form #search:hover {
  cursor: pointer;
  color: white;
}

/*------------------Body---------------------*/
/* line 105, ../compass/sass/style.scss */
#body-wrapper h1 {
  text-align: center;
  background-color: #000088;
  color: #cf5300;
  opacity: 0.9;
  width: 600px;
  margin: 5px auto 20px;
  padding: 15px 0px;
  border-radius: 20px;
}

/* line 117, ../compass/sass/style.scss */
#body-wrapper .container {
  background-color: #000088;
  opacity: 0.9;
  border-radius: 20px;
  margin-top: 50px;
}
/* line 122, ../compass/sass/style.scss */
#body-wrapper .container .header {
  text-align: center;
  margin-top: 100px;
  padding-bottom: 30px;
  border-bottom: 3px solid #cf5300;
  font-size: 42px;
  color: #cf5300;
}
/* line 130, ../compass/sass/style.scss */
#body-wrapper .container .category {
  color: #cf5300;
}
/* line 133, ../compass/sass/style.scss */
#body-wrapper .container .title {
  color: #cf5300;
}
/* line 137, ../compass/sass/style.scss */
#body-wrapper .container .article-content {
  color: #cf5300;
}

/* line 142, ../compass/sass/style.scss */
.body-scrolled {
  margin-top: 73px;
}

/*---------------Flex-Slider----------------*/
/* line 148, ../compass/sass/style.scss */
.flexslider .flex-direction-nav a {
  height: 50px;
}

/* line 152, ../compass/sass/style.scss */
#body .flexslider {
  width: 900px;
  height: 900px;
  margin: auto;
}

/* line 157, ../compass/sass/style.scss */
.flexslider .slides li img {
  width: 100%;
}

/* line 161, ../compass/sass/style.scss */
.flexslider .slides li p {
  text-align: center;
  font-size: 24px;
  margin: 10px 0px 0px 0px;
  background-color: #000088;
  color: #cf5300;
  border-radius: 10px;
}

/* line 169, ../compass/sass/style.scss */
.flex-control-nav li a {
  position: relative;
  top: -90px;
}

/* line 175, ../compass/sass/style.scss */
.thumbnails p.black-text {
  text-decoration: underline;
  color: #000;
}
/* line 180, ../compass/sass/style.scss */
.thumbnails p {
  position: relative;
  z-index: 10;
  font-size: 16px;
  color: white;
  font-weight: bold;
}

/* line 192, ../compass/sass/style.scss */
#footer {
  background-color: #000088;
  opacity: 0.9;
  color: #cf5300;
}
/* line 196, ../compass/sass/style.scss */
#footer .footer-left {
  width: 30%;
}
/* line 199, ../compass/sass/style.scss */
#footer .footer-center {
  width: 45%;
}
/* line 204, ../compass/sass/style.scss */
#footer .footer-right .footer-icons a {
  background-color: #292c2f;
}
/* line 207, ../compass/sass/style.scss */
#footer .footer-right .footer-icons a i img {
  width: 100%;
  border-radius: 7px;
}

/*--------------Max-Width: 1450px-------------------------------*/
@media screen and (max-width: 1450px) {
  /* line 222, ../compass/sass/style.scss */
  .flexslider .flex-direction-nav a {
    height: 50px;
  }

  /* line 226, ../compass/sass/style.scss */
  #body .flexslider {
    width: 600px;
    height: 600px;
    margin: auto;
  }

  /* line 231, ../compass/sass/style.scss */
  .flexslider .slides li img {
    width: 100%;
  }

  /* line 235, ../compass/sass/style.scss */
  .flexslider .slides li p {
    text-align: center;
    font-size: 24px;
  }

  /* line 239, ../compass/sass/style.scss */
  .flex-control-nav li a {
    position: relative;
    top: -90px;
  }
}
/*--------------Max-Width: 1166px-------------------------------*/
@media screen and (max-width: 1200px) {
  /* line 247, ../compass/sass/style.scss */
  .flexslider .flex-direction-nav a {
    height: 50px;
  }

  /* line 251, ../compass/sass/style.scss */
  #body .flexslider {
    width: 500px;
    height: 500px;
    margin: auto;
  }

  /* line 256, ../compass/sass/style.scss */
  .flexslider .slides li img {
    width: 100%;
  }

  /* line 260, ../compass/sass/style.scss */
  .flexslider .slides li p {
    text-align: center;
    font-size: 24px;
  }

  /* line 264, ../compass/sass/style.scss */
  .flex-control-nav li a {
    position: relative;
    top: -120px;
  }

  /* line 269, ../compass/sass/style.scss */
  .thumbnails p {
    position: relative;
    z-index: 10;
    font-size: 16px;
    color: white;
    font-weight: bold;
  }
}
/*--------------Max-Width: 760px-------------------------------*/
@media screen and (max-width: 760px) {
  /* line 281, ../compass/sass/style.scss */
  .flexslider .flex-direction-nav a {
    height: 50px;
  }

  /* line 285, ../compass/sass/style.scss */
  #body .flexslider {
    width: 400px;
    height: 400px;
    margin: auto;
  }

  /* line 290, ../compass/sass/style.scss */
  .flexslider .slides li img {
    width: 100%;
  }

  /* line 294, ../compass/sass/style.scss */
  .flexslider .slides li p {
    text-align: center;
    font-size: 24px;
  }

  /* line 298, ../compass/sass/style.scss */
  .flex-control-nav li a {
    position: relative;
    top: -120px;
  }

  /* line 302, ../compass/sass/style.scss */
  .navbar-form #search {
    width: 15px;
    margin-top: 10px;
    color: white;
    cursor: pointer;
  }
}
/*--------------Max-Width: 560px-------------------------------*/
@media screen and (max-width: 560px) {
  /* line 312, ../compass/sass/style.scss */
  .flexslider .flex-direction-nav a {
    height: 50px;
    top: 70%;
  }

  /* line 317, ../compass/sass/style.scss */
  #body .flexslider {
    width: 300px;
    height: 300px;
    margin: auto;
  }

  /* line 322, ../compass/sass/style.scss */
  .flexslider .slides li img {
    width: 100%;
  }

  /* line 326, ../compass/sass/style.scss */
  .flexslider .slides li p {
    text-align: center;
    font-size: 24px;
  }

  /* line 330, ../compass/sass/style.scss */
  .flex-control-nav li a {
    position: relative;
    top: -120px;
  }
}
